# AWS Credentials
AWS_BEARER_TOKEN_BEDROCK=api_key
AWS_DEFAULT_REGION=us-east-1 #mieux de mettre us-east 1 pcq mistral pas tous dispos sur eu

# Modèles LLM
ORCHESTRATOR_MODEL_ID=mistral.mistral-large-3-675b-instruct    # Modèle pour le routeur
AGENT_MODEL_ID=mistral.ministral-3-14b-instruct                # Modèle pour les agents spécialisés

# Mistral API (Voxtral STT)
MISTRAL_API_KEY=votre_cle_mistral

# ElevenLabs TTS
ELEVENLABS_API_KEY=votre_cle_elevenlabs
ELEVENLABS_VOICE_ID=votre_voice_id

# AISStream (vessel tracking)
AISSTREAM_API_KEY=votre_cle_aisstream  # Gratuit sur https://aisstream.io (login GitHub)

# ACLED (conflict events)
ACLED_USERNAME=votre_email_acled
ACLED_PASSWORD=votre_password_acled

# Perplexity (live intelligence search)
PERPLEXITY_API_KEY=votre_cle_perplexity
