AWS_BEARER_TOKEN_BEDROCK=api_key
AWS_DEFAULT_REGION=us-east-2 #mieux de mettre us-east 2 pcq mistral pas tous dispos sur eu
AISSTREAM_API_KEY=votre_cle_aisstream  # Gratuit sur https://aisstream.io (login GitHub)

