AWS_BEARER_TOKEN_BEDROCK=api_key
AWS_DEFAULT_REGION=us-east-2 #mieux de mettre us-east 2 pcq mistral pas tous dispos sur eu
AISSTREAM_API_KEY=votre_cle_aisstream  # Gratuit sur https://aisstream.io (login GitHub)

# Modèles LLM
ORCHESTRATOR_MODEL_ID=mistral.mistral-small-2402-v1:0    # Modèle pour le routeur
AGENT_MODEL_ID=mistral.ministral-3-14b-instruct          # Modèle pour les agents spécialisés
